.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(75, 70, 92, 0.68);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden auto;
}

.modal {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

.image-block {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.descripton {
    padding: 69px 16px 60px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
}

.id {
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 22px;
}

.object-name {
    font-weight: 400;
    font-size: 16px;
    color: #004f9e;
    margin-bottom: 14px;
}

.deadline {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

.deadline>span {
    color: #000;
}

.string {
    padding: 16px 0 21px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    color: #666666;
}

.string>b {
    font-weight: 700;
    color: #000;
}

.string.last {
    border-bottom: 1px solid #444444;
    margin-bottom: 32px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price>div {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.price>b {
    font-weight: 800;
    font-size: 24px;
    background: linear-gradient(257.75deg, #132a3e -4217463.78%, #263e66 -4206838.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.form-block {
    padding: 60px 16px;
    background-color: #eff2f9;
}

.form-title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px;
}

.form-subtitle {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
}

.form-button {
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #FFC700;
    border-radius: 999px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 32px;
    transition: all .3s;
    cursor: pointer;
}

.form-button:hover {
    background: #FFC70090;
}.form-button:active {
    background: #FFC700;
}

.email {
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 20px;
}

.form-button:focus {
    outline: none;
}

.approval {
    font-weight: 300;
    font-size: 12px;
    color: #929292;
}

@media (min-width: 768px) {
    .modal {
        width: 688px;
    }

    .modal-wrapper {
        padding: 30px 0 30px;
    }

    .descripton {
        padding: 69px 60px 60px;
    }

    .form-block {
        padding: 60px;
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 900px;
    }

    .info {
        display: flex;
    }

    .image-block {
        width: 460px;
    }

    .descripton {
        flex-grow: 1;
        padding: 69px 60px 60px 0;
    }

    .price>div {
        font-size: 20px;
    }


    .form-block {
        display: flex;
        gap: 90px;
    }

    .head {
        flex-grow: 1;
    }

    .form-title {
        width: 325px;
    }

    .form-subtitle {
        width: 250px;
    }

}

@media (min-width: 1920px) {
    .modal {
        width: 1540px;

    }

    .info {
        padding: 50px 120px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .image-block {
        width: 100%;
    }

    .descripton {
        padding-left: 40px;
        padding-right: 20px;
        width: 100%;
    }

    .title {
        font-size: 28px;
    }

    .string {
        font-size: 16px;
    }

    .form-block {
        padding: 60px 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .head {
        flex-grow: 1;
    }

    .form-title {
        width: 500px;
        font-size: 42px;
    }

    .form-subtitle {
        width: 500px;
    }

    .form-button {
        width: 412px;
    }
}